{% extends "base.html" %}

{% block titulo %}
Lista de profesores
{% endblock titulo %}

{% block contenido %}
<h1>Lista de profesores</h1>
<a href="{% url 'crear_profesor' %}">Crear profesor</a>
<br>

<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dni</th>
      <th>Profesion</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {% for profesor in profesores %}
    <tr>
      <td>{{ profesor.id }}</td>
      <td>{{ profesor.nombre }}</td>
      <td>{{ profesor.apellido }}</td>
      <td>{{ profesor.dni }}</td>
      <td>{{ profesor.profesion }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido %}